<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
<div style="width: 50%;  margin: 0 auto;">
    <a th:href="@{/movies/find}" th:text="'Return to search'"></a>
    <div >
        <h3 th:text="${result.getTitleText().getText()}"></h3>
        <img th:if="${result.getPrimaryImage()!=null}" th:src="${result.getPrimaryImage().getUrl()}"
        th:width="200">
        <div th:if="${result.getReleaseYear()!=null}">
        <p th:if="${result.getReleaseYear().getYear()!=null}" th:text="'Start year - ' + ${result.getReleaseYear().getYear()}"></p>
        <p th:if="${result.getReleaseYear().getEndYear()!=null}" th:text="'End year - ' + ${result.getReleaseYear().getEndYear()}"></p>
        </div>
        <div th:if="${result.getReleaseDate()!=null}">
        <p th:text="'Release date: Year: ' + ${result.getReleaseDate().getYear()} +
        ' Month: ' + ${result.getReleaseDate().getMonth()} + ' Day: ' + ${result.getReleaseDate().getDay()}" ></p>
        </div>
        <div th:if="${result.getTitleType().getIsSeries()}">
            <a th:href="@{/movies/series/{id}(id=${result.getId()})}"
            th:text="Episodes"></a>
        </div>
    </div>
</div>
</body>
</html>