<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
</head>
<body>
<div style="width: 50%;  margin: 0 auto;">
    <a th:href="@{/movies/find}" th:text="'Return to search'"></a>
    <div th:each="result : ${results}">
        <a style="font-size: 20px" th:text="${result.getTitleText().getText()}" th:href="@{/movies/movie/{id}(id=${result.getId()})}"></a>
        <br>
        <img th:if="${result.getPrimaryImage()!=null}" th:src="${result.getPrimaryImage().getUrl()}"
        th:width="200">
        <div th:if="${result.getReleaseYear()!=null}">
        <p th:if="${result.getReleaseYear().getYear()!=null}" th:text="'Start year - ' + ${result.getReleaseYear().getYear()}"></p>
        <p th:if="${result.getReleaseYear().getEndYear()!=null}" th:text="'End year - ' + ${result.getReleaseYear().getEndYear()}"></p>
        </div>
        <div th:if="${result.getReleaseDate()!=null}">
        <p th:text="'Release date: Year: ' + ${result.getReleaseDate().getYear()} +
        ' Month: ' + ${result.getReleaseDate().getMonth()} + ' Day: ' + ${result.getReleaseDate().getDay()}" ></p>
        </div>
        <hr>
    </div>
    <div th:if="${next}!=null">
        <a th:href="@{/movies/findResult}" th:text="next"></a>
    </div>
</div>
</body>
</html>